<% layout('layouts/boilerplate') %>

<div class="container mt-5">
    <h2 class="mb-4 text-center">My Bookings</h2>

    <% if(bookings.length === 0) { %>
        <p class="text-center">No bookings yet 😢</p>
    <% } %>

    <div class="row">
        <% bookings.forEach(booking => { %>

            <div class="col-md-6 mb-4">
                <div class="card shadow">

                    <img src="<%= booking.listing.image.url %>" 
                         class="card-img-top"
                         style="height:200px; object-fit:cover;">

                    <div class="card-body">

                        <h5><%= booking.listing.title %></h5>

                        <p><b>Location:</b> <%= booking.listing.location %></p>

                        <p><b>Check-In:</b> <%= booking.checkIn.toDateString() %></p>
                        <p><b>Check-Out:</b> <%= booking.checkOut.toDateString() %></p>

                        <p><b>Guests:</b> <%= booking.guests %></p>

                        <p><b>Total Price:</b> ₹<%= booking.totalPrice %></p>

                        <form method="POST" action="/bookings/<%= booking._id %>?_method=DELETE">
                            <button class="btn btn-danger btn-sm">
                                Cancel Booking
                            </button>
                        </form>

                    </div>
                </div>
            </div>

        <% }) %>
    </div>
</div>